$primary-blue: #0c102d; // Cyan foncé
$secondary-blue: #280a9f; // Bleu plus soutenu
$bg-light: #f0f9ff; // Arrière-plan très clair
$text-dark: #0b0f2c0b0f2c;

.login-page-wrapper {
  min-height: 100vh;
  .row {
    min-height: 100vh;
  }
}

// 1. Panneau Gauche (Image)
.image-panel {

  @media (max-width: 991px) {
    display: none !important;
  }

  .vote-image {
    max-width: 60%;
    height: auto;
  }
}

// 2. Panneau Droit (Formulaire)
.form-panel {
  background: white;

  // Assure que le formulaire prend le centre
  @media (min-width: 992px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

// Conteneur interne pour le formulaire
.login-card {
  max-width: 600px; // Limiter la largeur du formulaire même sur grand écran
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.logo-form {
  height: 60px;
  width: auto;
  display: block; // Assure le centrage
  margin-left: auto;
  margin-right: auto;
}

h2 {
  //color: $secondary-blue;
  font-weight: 700;
  font-size: 1.7rem;
}

// Styles pour les éléments du formulaire
.form-group {
  .form-label {
    font-weight: 600;
    color: $primary-blue;
    font-size: 0.85rem;
  }
  .form-control {
    border: 1px solid #e0f2f7;
    border-radius: 6px;
    padding: 0.75rem;
    &:focus {
      border-color: $primary-blue;
      box-shadow: 0 0 0 3px rgba($primary-blue, 0.15);
    }
  }
}

// Lien "J'ai oublié"
.link-switch {
  color: $primary-blue;
  font-size: 0.9rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Bouton Primaire
.btn-primary {
  background: linear-gradient(135deg, $primary-blue 0%, $secondary-blue 100%);
  border: none;
  font-weight: 700;

  &:hover:not(:disabled) {
    box-shadow: 0 4px 12px rgba($primary-blue, 0.3);
    transform: translateY(-1px);
    transition: all 0.2s ease;
  }
}

// Alerte
.alert-danger {
  background-color: #fcebeb; // Rouge très clair
  color: #c0392b; // Rouge foncé
  border-color: #f19f9f;
  .fa-exclamation-triangle {
    color: #e74c3c;
  }
}
